body{
    background-color: rgb(17, 198, 222);
}
#score{
font-size: 32px;
margin-right: 999px;
}
#time{
    font-size: 32px;
    float: right;
    margin-right: 125px;
}
#SketchToDraw{
    color: rgb(71, 255, 20);
}